In [1]:
p = 4**3
print(p)

64

In [3]:
a = 21 % 4

In [4]:
a = 21 % 4

In [5]:
d = 23//5
print(d)

4

In [6]:

if (1):

print (True)

IndentationError: expected an indented block (<ipython-input-6-ff38c761a243>, line 3)

In [7]:
if (1):

    print (True)

True

In [8]:
if (1) print(True)

SyntaxError: invalid syntax (<ipython-input-8-928f6ca5e5e8>, line 1)

In [9]:
if (-1):

    print('True')

True

In [10]:
if (1):

    print ('True')

True

In [11]:
if (1)

    print (True)

SyntaxError: invalid syntax (<ipython-input-11-bb9305b141cc>, line 1)

In [12]:
for i in range(3):
    print(i)

0
1
2

In [13]:
print('11 12 13 \n14')

11 12 13
14

In [14]:
a=11

b=12

c=13 

d=14

print(a+b+c)

print(d)

36
14

In [15]:
a=11

b=12

c=13 

d=14

print(a,b,c)

print(d)

11 12 13
14

In [16]:
a=11

b=12

c=13 

d=14

print('{0} {1} {2}'.format(a,b,c) )

print(d)

11 12 13
14

In [17]:
a=11

b=12

c=13 

d=14

print('%d %d %d' %(a,b,c))

print(d)

11 12 13
14

In [18]:
a=11

b=12

c=13 

d=14

print(f'{a}{b}{c}')

print(d)

111213
14

In [1]:
import cv2

cap = cv2.VideoCapture(0)
cap.set(3, 640)  # WIDTH
cap.set(4, 480)  # HEIGHT

face_cascade = cv2.CascadeClassifier(cv2.data.haarcascades + "haarcascade_frontalface_default.xml")
eye_cascade = cv2.CascadeClassifier(cv2.data.haarcascades + "haarcascade_eye.xml")

while(True):
    # Capture frame-by-frame
    ret, frame = cap.read()

    # Our operations on the frame come here
    gray = cv2.cvtColor(frame, cv2.COLOR_BGR2GRAY)
    faces = face_cascade.detectMultiScale(gray, 1.3, 5)
    print(len(faces))
    # Display the resulting frame
    for (x, y, w, h) in faces:
        cv2.rectangle(frame, (x, y), (x+w, y+h), (255, 0, 0), 2)
        roi_gray = gray[y:y+h, x:x+w]
        roi_color = frame[y:y+h, x:x+w]
        eyes = eye_cascade.detectMultiScale(roi_gray)
        for (ex, ey, ew, eh) in eyes:
            cv2.rectangle(roi_color, (ex, ey), (ex+ew, ey+eh), (0, 255, 0), 2)

    cv2.imshow('frame', frame)
    k = cv2.waitKey(1)
    if k == ord('q') or k == 27:
        break

# When everything done, release the capture
cap.release()
cv2.destroyAllWindows()

ModuleNotFoundError: No module named 'cv2'

In [2]:
 S = “I love Python”

SyntaxError: invalid character in identifier (<ipython-input-2-9b4d920508ed>, line 1)

In [3]:
S[2:5]

NameError: name 'S' is not defined

In [4]:
 S = "I love Python"

In [5]:
S[2:5]

'lov'

In [6]:
3 * 3 ** 3

81

In [7]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [8]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))

6

In [9]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [10]:
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

NameError: name 'paragraph' is not defined

In [11]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [12]:
C = [7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76, 80, 81, 82, 90, 93, 95, 97, 99]
F = [1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95, 96]
H = [5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86, 87, 92, 94, 95]

In [13]:
#### Q1. Which are the students who play all the three sports?
- [22, 39]
- [39, 82]
- [40, 95]
- [82, 94]

TypeError: bad operand type for unary -: 'list'

In [14]:
[x for x in C if x in F and x in H]

[40, 95]

In [15]:
netflix = {'The Debt Collector': 1821195, 'Act of Vengeance': 2804479, 'Paradise Lost': 2195477, "Gerald's Game": 3650626, 'Long Shot': 638440, 'Mak Cun': 1010311, 'Our Souls at Night': 3028705, 'Out of Thin Air': 2681938, "Paul Hollywood's Big Continental Road Trip": 230689, 'Satu Hari': 1012350, 'Monster High: Boo York, Boo York': 1526025, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 2762103, 'Domino': 872663, 'TUNA GIRL': 2574816, '5CM': 2647713, 'Animal World': 220789, 'Hold the Dark': 2307432, 'Lessons from a School Shooting: Notes from Dunblane': 2419534, 'Made in Mexico': 3653712, 'Single': 239278, 'The 3rd Eye': 196138, 'The Sinking Of Van Der Wijck': 2831856, 'Two Catalonias': 1337119, 'Bobby Sands: 66 Days': 2005623, 'Bard of Blood': 744998, 'Deliha 2': 3638900, 'Dragons: Rescue Riders': 3241239, 'In the Shadow of the Moon': 1213329, 'Skylines': 1840094, 'Sturgill Simpson Presents Sound & Fury': 1915540, 'The Politician': 1019394, 'Weeds on Fire': 2273090, 'Much Loved': 3039852, 'Joseph: King of Dreams': 1734449, 'Malaal': 1926128, 'The Grandmaster': 2549410, 'The Inmate': 130965, 'The Hurricane Heist': 2191538, 'Def Comedy Jam 25': 1392697, 'Restless Creature: Wendy Whelan': 2474412, 'Print the Legend': 548250, 'Birders': 3478883, 'Furie': 2755115, 'Leap!': 1401638, 'Oh! Baby (Malayalam)': 839139, 'Oh! Baby (Tamil)': 2691505, 'USS Indianapolis: Men of Courage': 3286014, 'A Wrinkle in Time': 1258861, 'Teach Us All': 2428947, 'White Island': 1152905, 'Inside Man: Most Wanted': 2812661, 'Jeff Dunham: Beside Himself': 2930368, 'China Salesman': 3377292, 'Swearnet: The Movie': 949689, 'The Bar': 620655, 'Manmadhudu 2': 1842761, 'Team Kaylie': 359856, 'Under the Eiffel Tower': 2298237, 'Audrie & Daisy': 1573055, 'Iliza Shlesinger: Confirmed Kills': 365220, 'BONDING': 1664242, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 2770879, '20 Feet From Stardom': 2931730, 'In Darkness': 3248749, 'Gaga: Five Foot Two': 3719550, 'The Bad Batch': 3656264, 'SMOSH: The Movie': 3697506, 'King of Boys': 584112, 'Merry Men: The Real Yoruba Demons': 2035595, "Sarah's Key": 1337902, 'The Wedding Party 2: Destination Dubai': 1471204, 'Vagabond': 1600432, 'Battlefish': 723021, 'DRAGON PILOT: Hisone & Masotan': 602919, 'Hilda': 54948, 'Maniac': 1348196, 'Quincy': 2601704, 'Rafinha Bastos: Ultimatum': 3469996, 'The Good Cop': 2265521, 'Between Two Ferns: The Movie': 3146508, 'Criminal: France': 2021409, 'Criminal: Germany': 658824, 'Criminal: Spain': 3078634, 'Criminal: UK': 2721398, 'Daddy Issues': 2119035, "Inside Bill's Brain: Decoding Bill Gates": 1755104, 'The Hockey Girls': 2000507, 'Travel Mates 2': 707260, 'True: Tricky Treat Day': 3213199, 'Two Sentence Horror Stories': 2438329, 'Mad World': 2281773, 'Mobile Suit Gundam UC': 778879, 'The Bund': 1729892, 'The First Line': 674591, 'Maynard': 84986, 'Monkey Twins': 3277179, 'Bitcoin Heist': 1450158, 'I Am Not Madame Bovary': 2763830, 'Vincent N Roxxy': 1961810, "Chef's Table: France": 2065738}

In [16]:
#### Q1. There's an Indian movie in the dictionary named `Do Paise Ki Dhoop Chaar Aane Ki Baarish`. What is the number of views for this movie?
- 90,854
- 658,824
- 1,023,597
- 2,770,879

SyntaxError: invalid token (<ipython-input-16-a80835d646dc>, line 4)

In [17]:
netflix["Do Paise Ki Dhoop Chaar Aane Ki Baarish"]

2770879

In [18]:
netflix_last_week = {'The Debt Collector': 229218, 'Act of Vengeance': 191468, 'Paradise Lost': 167846, "Gerald's Game": 113298, 'Long Shot': 15190, 'Mak Cun': 244581, 'Our Souls at Night': 188095, 'Out of Thin Air': 183961, "Paul Hollywood's Big Continental Road Trip": 207967, 'Satu Hari': 226211, 'Monster High: Boo York, Boo York': 265919, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 192246, 'Domino': 190538, 'TUNA GIRL': 301819, '5CM': 154371, 'Animal World': 228227, 'Hold the Dark': 222938, 'Lessons from a School Shooting: Notes from Dunblane': 256580, 'Made in Mexico': 199790, 'Single': 155517, 'The 3rd Eye': 251349, 'The Sinking Of Van Der Wijck': 153797, 'Two Catalonias': 189422, 'Bobby Sands: 66 Days': 202461, 'Bard of Blood': 241928, 'Deliha 2': 304552, 'Dragons: Rescue Riders': 155149, 'In the Shadow of the Moon': 222999, 'Skylines': 118737, 'Sturgill Simpson Presents Sound & Fury': 43590, 'The Politician': 11902, 'Weeds on Fire': 243382, 'Much Loved': 190123, 'Joseph: King of Dreams': 46104, 'Malaal': 70961, 'The Grandmaster': 44908, 'The Inmate': 19574, 'The Hurricane Heist': 167696, 'Def Comedy Jam 25': 208075, 'Restless Creature: Wendy Whelan': 22976, 'Print the Legend': 161584, 'Birders': 257668, 'Furie': 282266, 'Leap!': 124338, 'Oh! Baby (Malayalam)': 18203, 'Oh! Baby (Tamil)': 131481, 'USS Indianapolis: Men of Courage': 76558, 'A Wrinkle in Time': 169365, 'Teach Us All': 50378, 'White Island': 299779, 'Inside Man: Most Wanted': 123346, 'Jeff Dunham: Beside Himself': 283561, 'China Salesman': 182041, 'Swearnet: The Movie': 63809, 'The Bar': 41243, 'Manmadhudu 2': 261349, 'Team Kaylie': 101283, 'Under the Eiffel Tower': 83650, 'Audrie & Daisy': 106092, 'Iliza Shlesinger: Confirmed Kills': 255103, 'BONDING': 202683, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 32329, '20 Feet From Stardom': 165178, 'In Darkness': 95259, 'Gaga: Five Foot Two': 36638, 'The Bad Batch': 197820, 'SMOSH: The Movie': 196519, 'King of Boys': 49332, 'Merry Men: The Real Yoruba Demons': 293229, "Sarah's Key": 178523, 'The Wedding Party 2: Destination Dubai': 51211, 'Vagabond': 116831, 'Battlefish': 5448, 'DRAGON PILOT: Hisone & Masotan': 281873, 'Hilda': 21348, 'Maniac': 268187, 'Quincy': 139696, 'Rafinha Bastos: Ultimatum': 105449, 'The Good Cop': 73230, 'Between Two Ferns: The Movie': 135600, 'Criminal: France': 243469, 'Criminal: Germany': 285211, 'Criminal: Spain': 45184, 'Criminal: UK': 117056, 'Daddy Issues': 267329, "Inside Bill's Brain: Decoding Bill Gates": 64083, 'The Hockey Girls': 114146, 'Travel Mates 2': 21088, 'True: Tricky Treat Day': 116504, 'Two Sentence Horror Stories': 274471, 'Mad World': 225244, 'Mobile Suit Gundam UC': 47306, 'The Bund': 146872, 'The First Line': 148861, 'Maynard': 87252, 'Monkey Twins': 199274, 'Bitcoin Heist': 41105, 'I Am Not Madame Bovary': 57841, 'Vincent N Roxxy': 207453, "Chef's Table: France": 200536}

In [22]:
L = [1, 2, 3, 4]
L

[1, 2, 3, 4]

In [21]:
L = [i for i in range(1, 5)]
L

[1, 2, 3, 4]

In [23]:
L = [for i in range(1, 5) i]
L

SyntaxError: invalid syntax (<ipython-input-23-b6d33dba54e7>, line 1)

In [24]:
L = [for i in range(1, 5): i]
L

SyntaxError: invalid syntax (<ipython-input-24-2a7db7e3efda>, line 1)

In [25]:
L=[2, 3, 4, 2, 1, 2, 3]
print(L.index(2))

0

In [26]:
L = [2, 1, 2, 4, 5, 3, 6]
K = 4 in L

In [27]:
L=[10,20,30,40,50,60,70,80,90,100]

In [28]:
L[[1, 3, 5, 7]]

TypeError: list indices must be integers or slices, not list

In [29]:
L[1, 3, 5, 7]

TypeError: list indices must be integers or slices, not tuple

In [30]:
L[1::2]

[20, 40, 60, 80, 100]

In [31]:
L[1:-1:2]

[20, 40, 60, 80]

In [32]:
L[2:-1:2]

[30, 50, 70, 90]

In [33]:
[L[i] for i in range(1,9,2)]

[20, 40, 60, 80]

In [34]:
original_list=[0, 0, 0]
copy1=original_list
copy2=list(original_list)
copy3=list.copy(original_list)
original_list[0] = 1
print(copy1)
print(copy2)
print(copy3)

[1, 0, 0]
[0, 0, 0]
[0, 0, 0]

In [35]:
print(chr(51))

3

In [36]:
S.strip()

'I love Python'

In [ ]:
# Solution_2: using for loop
s = input().lower()
r = ""
for i in s:
    r = i + r # it will create reverse string

if s == r:
    print(1)
else:
    print(0)

In [ ]:
# Solution_1: using built in functions without any loop
in_str = input().lower().split()
output_list = "_".join(in_str).title()
print(output_list)

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# First argument is mean
# Second argument is standard deviation
# Third argument is size
x = np.random.normal(50, 5, 3000)

In [ ]:
x

In [ ]:
print("Max is {}".format(max(x)))
print("Min is {}".format(min(x)))
print("Max - Min is {}".format(max(x) - min(x)))

In [ ]:
print("Max is {}".format(max(x)))
print("Min is {}".format(min(x)))
print("Max - Min is {}".format(max(x) - min(x)))

In [ ]:
sns.distplot(x, kde=False, bins=5,
             hist_kws=dict(edgecolor="k", linewidth=2))
plt.xlabel('Intervals')
plt.ylabel('Frequency')
plt.show()